<ion-view view-title="Dinning Room">
  <!-- Dining Room -->
  <ion-content>
    <div class="card">
      <ion-list>
        <ion-item ng-repeat="item in dining_room_features">
          <label class="item item-input item-select">
            <div class="input-label">{{item.name}}</div>
            <select ng-model="item.value">
              <option selected>yes</option>
              <option>no</option>
            </select>
          </label>
        </ion-item>
      </ion-list>
    </div>
    <div class="card">
      <div class="container">
        <h4>Area</h4>
        <label class="item item-input">
          <input type="number" placeholder="m2">
        </label>
      </div>
    </div>
    <!-- Go to Bathrooms Tab -->
    <div class="container button-container">
      <button class="button button-positive button-section" ng-click="update_data()">
        Bathrooms / WCs
      </button>
    </div>
  </ion-content>
</ion-view>
